<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">
    <div class="text-Rounded700"><h1 class="sidebar-title">アイデア</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><a href="#section1">セクション1</a></li>
          <li><a href="#section2">セクション2</a></li>
          <li><a href="#section3">セクション3</a></li>
      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('mirror.png', alt: 'アイデアページのサイドバーの画像', class: "sidebar-image") %>
    </div>
  </div>

  <div class="sidebar-content">
    <section id="section1">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title">
        <span class="text-line">セクション1</span>
      </h2>
      <p class="explanation-section-text">ここにセクション1の内容が入ります。</p>
    </section>

    <section id="section2">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title" style="margin-bottom: 0rem;">
        <span class="text-line">セクション2</span>
      </h2>
      <p class="explanation-section-text">ここにセクション2の内容が入ります。</p>
    </section>

    <section id="section3">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title" style="margin-bottom: 0rem;">
        <span class="text-line">セクション3</span>
      </h2>
      <p class="explanation-section-text">ここにセクション3の内容が入ります。</p>
    </section>

  </div>

</div>
