<% content_for(:title, t('.title')) %>
<div class="max1280-container-info">
  <div class="info-container">
  <h1 class="info-section-text">
    <span class="gray-text">「</span>
    <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
    <span class="gray-text">」の説明</span>
  </h1>


  <h2 class="info-section-text">
    <span class="f-text">F</span>low <span class="t-text">T</span>hing</span><span class="gray-text">とは？</span>
  </h2>

  <span class="text-left info-text">
  「Flow Thing」とは「もの(Thing)」を管理するアプリです。<br>
  お気に入りのグッズやコレクション、なかなか頭の中では仕切れないものを記録します。<br>
  また、物理的な「物」だけでなく、ペットや家族、実態はないけど何となくあると感じる「もの」など幅広く登録できます。
  </span>

  <span class="text-left info-text">
  「Flow Thing」の登録の仕方は幅広く、「名前」「画像」どちらでも登録できます。<br>
  また、アプリ内のツールで「イラスト」描き登録することもできます。<br>
  その他、「入手場所」「エピソード」も記入できます。
  </span>

  <h2 class="info-section-text">
    <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span><span class="gray-text">とは？</span>
  </h2>

  <span class="text-left info-text">
  「Sub Thing」のとは登録した「もの」の持ち主やカテゴリーとして「Flow Thing」と一緒に作成できる存在です。<br>
  「Sub Thing」と一緒に登録することで「もの」の分類が簡単になります。<br>
  1つの「Sub Thing」に対して「Flow Thing」は幾つでも登録可能です。
  </span>

  <h2 class="info-section-text">
    <span>その他の機能</span>
  </h2>

  <h3 class="info-section-text">
    <span>「Sub Thing」コンテナ</span>
  </h3>

  <span class="text-left info-text">
  「Sub Thing」コンテナは登録されている「Flow Thing」数によってスタイルが少し変化します。<br>
  「Flow Thing」の数が増えるとコンテナの色やアイコンの数が変化します。<br>
  また、しばらくアクセスしていない「Sub Thing」コンテナは徐々に影が薄くなります。
  きっと何かの役に立つでしょう。
  </span>

  <h3 class="info-section-text">
    <span>掲示板</span>
  </h3>

  <span class="text-left info-text">
  登録した「Flow Thing」について相談できる場所です。<br>
  「なくなってしまった」「これ本当に必要なのかな」などなど登録した「Flow Thing」の情報を用いて相談できます。<br>
  また、通常の「雑談」としての投稿も可能です。
  </span>

  <h3 class="info-section-text">
    <span>エピソード</span>
  </h3>

  <span class="text-left info-text">
  「Flow Thing」は「エピソード」と一緒に登録します。<br>
  その「エピソード」のみを抜粋して今までの記録を確認できます。<br>
  きっと何かの役に立つでしょう。
  </span>

  </div>
</div>