
<% content_for(:title, t('.title')) %>
<div>
  <div>
    <h1 class="section-title">
      <span class="red-text">新規作成</span>
    </h1>
    <%= render 'sub_users/form', sub_user: @sub_user %>
    <%= render 'items/form', item: @item %>
    <%= render 'episodes/form', episode: @episode %>
    </div> 
  </div>
</div>






