<div class="p5canvas-container">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">Sub Thing新規作成</span>
  </h1>
<span class="red-text">※このページは万が一ペイントツールが起動しないときに向けたものです。ツールの状況をリセットして保存します。</span>
<div class="flex">
  <div id="reactNewSubUserCreate"
    data-profile-id="<%= @profile.id %>"
    data-space-size="<%= @profile.space_size %>"

    data-tool-parameters="<%= @profile.tool_data %>"
  >
</div>
</div>