<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? ? profile.color_code : '#acd3dd' %>;">
    <div class="text-Rounded700"><h1 class="sidebar-title">ツール</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><a href="#section1">セクション1</a></li>
          <li><a href="#section2">セクション2</a></li>
          <li><a href="#section3">セクション3</a></li>
      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('tongari.png', alt: 'ツールページの画像', class: "sidebar-image") %>
    </div>
  </div>

  <div class="sidebar-content">
    <section id="section1">
    <div style="height: 5rem; width: 100px;"></div>
      <h2>セクション1</h2>
      <p>ここにセクション1の内容が入ります。</p>
    </section>
    <section id="section2">
      <h2>セクション2</h2>
      <p>ここにセクション2の内容が入ります。</p>
    </section>
    <section id="section3">
      <h2>セクション3</h2>
      <p>ここにセクション3の内容が入ります。</p>
    </section>
  </div>

</div>
