<div class='max1280-container'>



<%= link_to info_path, class: 'info-botann' do %>
<div class="wave wave1"></div>
  <div class="wave wave2"></div>
  <div class="wave wave3"></div>
  <div class="wave wave4"></div>
<div class="info-botann-text">
    <span class="f-text">F</span>low <span class="t-text">T</span>hing</span><span class="gray-text">とは？</span>
  </div>
<% end %>


<div class="draggable-test2 f-text">デバイステスト用スペース</div>


<div id="reactP5PenTest" class="draggable-test2 myCanvas"></div>


</div>
