<div class='text-center pt-5 buttonitem'>

  <% if user_signed_in? %>
    <p>ようこそ！あなたのメールアドレスです： <strong><%= current_user.email %></strong></p>
  <% end %>

  <%= link_to 'Logout', logout_path,  data: { turbo_method: :delete }, class: "btn btn-outline-primary" %>
</div>