<div class='text-center pt-5 buttonitem fabric'>

  <% if user_signed_in? %>
    <p>ようこそ！あなたのメールアドレスです： <strong><%= current_user.email %></strong></p>
  <% end %>


  <div class="canvas-container-parent">
    <canvas id="fabricCanvas6" class="myCanvas" width="500" height="250"></canvas><br>
  </div>

  <div class="canvas-container-parent">
    <label>Choose Brush Color:</label>
    <div id="picker"></div>

<div class="palletBox specialColorBox" id="blackBox"></div>
<div class="palletBox specialColorBox" id="whiteBox"></div>

<div class="palletBox" id="palletbox1"></div>
<div class="palletBox" id="palletbox2"></div>
<div class="palletBox" id="palletbox3"></div>
<div class="palletBox" id="palletbox4"></div>
<div class="palletBox" id="palletbox5"></div>
<div class="palletBox" id="palletbox6"></div>

<button id="selectColorMode"><i class="bi bi-palette"></i></button>
<button id="dropperColorMode"><i class="bi bi-eyedropper"></i></button>
<button id="deleteColorMode"><i class="bi bi-trash3-fill"></i></button>

  </div>

  <div class="canvas-container-parent">
    <div class="d-flex">
      <div class="pr-2">
        <div id="brushSizePreview" style="border: 1px solid black; width: 50px; height: 50px; border-radius: 50%;"></div>
        <span id="brushSizeValue">5</span>px
        <br>
        <label>Brush Size (0.1 - 20):</label>
        <input type="range" id="brushSizePicker" min="0.1" max="20" step="0.1" value="5">
      </div>
      <div>
        <div id="eraserSizePreview" style="border: 1px solid black; width: 50px; height: 50px; border-radius: 50%;"></div>
        <span id="eraserSizeValue">5</span>px
        <br>
        <label>Eraser Size (0.1 - 30):</label>
        <input type="range" id="eraserSizePicker" min="0.1" max="30" step="0.1" value="5">
      </div>
    </div>
  </div>

  <div class="canvas-container-parent">
    <div class="d-flex">
      <div class="pr-2">
        <button id="usePenTool"><i class="bi bi-pencil-fill"></i></button>
      </div>
      <div class="pr-2">
        <button id="useEraserTool"><i class="bi bi-eraser-fill"></i></button>
      </div>
      <div>
        <button id="useRectangleTool">Draw Rectangle</button>
      </div>
    </div>
  </div>






<div class="user-colorbox">
  <div>
    <div id="userselectColor"></div>
  </div>
  <div>
    <input type="color" id="usercolorPalette">
  </div>
  <div>
    <div class="usericonColor" style="background-color: red;"></div>
    <div class="usericonColor" style="background-color: green;"></div>
    <div class="usericonColor" style="background-color: blue;"></div>
    <div class="usericonColor" style="background-color: yellow;"></div>
    <div class="usericonColor" style="background-color: yellow;"></div>
  </div>
  <div>
    <div class="usericonColor" style="background-color: green;"></div>
    <div class="usericonColor" style="background-color: blue;"></div>
    <div class="usericonColor" style="background-color: yellow;"></div>
    <div class="usericonColor" style="background-color: #C3E5DB;"></div>
    <div class="usericonColor" style="background-color: yellow;"></div>
  </div>
</div>











  <%= link_to 'Logout', logout_path,  data: { turbo_method: :delete }, class: "btn btn-outline-primary" %>
</div>