<% content_for(:title, t('.title')) %>
<div class="max767-container profile">
  <div>
      <h1 class="section-title"><%= t('.title') %></h1>


        
      <%= render 'form', profile: @profile %>
  </div>
</div>