<div class="p5canvas-container flex-column">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">プロフィールのアイコンを作成</span>
  </h1>

<div style="margin-bottom: 2rem;"><span class="red-text">※注意 プロフィールアイコンはレイヤーごとの保存はできません。</span></div>

  <div id="reactProfileCanvas"
    data-profile-id="<%= @profile.id %>"
    data-space-size="<%= @profile.space_size %>"
  >
  </div>

</div>