<% content_for(:title, t('.title')) %>
<div class="profile profile-containe">
  <div>
    <h1 class="section-title red-text"><%= t('.title') %></h1>
    <%= render 'form', profile: @profile %>
  </div>
</div>