<% content_for(:title, t('.title')) %>
<div class="index-container">
<h1 class="midasi-title">
  <%# <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span> %>
  <span>Flux Screen</span>
</h1>

<%# <%= render 'search_form', q: @q, url: sub_users_path %>

  <div class="item-list-container">
    <% if @composites.present? %>
      <% @composites.each do |composites| %>
        <div class="item-list-card">
          <%= render composites %>
        </div>
      <% end %>
    <% else %>
      <div class="noitem-text">Flux Screenがありません</div>
    <% end %>
  </div>





  <%= link_to new_composite_path do %>
      <div>Flow Thingを配置する</div>
    <% end %>




  <div style="margin: 5rem 3rem;">
    <%# <%= paginate @sub_users %>
  </div>
</div>