<% content_for(:title, t('.title')) %>
<div class="index-container screen-container">
<h1 class="midasi-title">
  <%# <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span> %>
  <span>Flux Screen</span>
</h1>

<%# <%= render 'search_form', q: @q, url: sub_users_path %>



<div class="flex-end-end">
  <% if Item.where.not(item_canvas: nil).exists? && Space.where.not(space_canvas: nil).exists? %>
          <%= link_to new_composite_path, class: 'tooltip-container' do %>
            <div class="flex create-usersselect-container" style="background-color: white;">
              <div><i class="bi bi-box-seam-fill" style="font-size: 2rem;"></i></div>
              <div class="newcontents_text"><span>Flow Thingを配置する<span></div>
              <span class="tooltip-text" style="text-align: start;">作成したScreenにFlow Thingを配置できます。</span>
            </div>
          <% end %>
          <% end %>
</div>

  <div class="screen-list-container">
    <% if @composites.present? %>
      <% @composites.each do |composites| %>
        <div class="item-list-card">
          <%= render composites %>
        </div>
      <% end %>
    <% else %>
      <div class="noitem-text">Flux Screenがありません</div>
    <% end %>
  </div>








  <div style="margin: 5rem 3rem;">
    <%# <%= paginate @sub_users %>
  </div>
</div>