<div class="max1280-container">
  <h1 class="section-title">
    <span class="red-text">スペース新規作成</span>
  </h1>

<div class="flex">

  <div id="reactNewCompositeCreate"
    data-profile-id="<%= @profile.id %>"
    data-item-id-all="<%= @items.to_json %>"
    data-space-id-all="<%= @spaces.to_json %>"
    data-sub-user-id-all="<%= @sub_users.to_json %>"
  >
</div>


</div>
</div>

