
<% content_for(:title, t('.title')) %>
<div class="max1280-container">
  <div>

    <h1 class="section-title section-title-form" style="margin-top: 2rem;">
      <span class="red-text">Snb Thing編集</span>
    </h1>


    <%= form_with model: @sub_user, id: 'subuser_create_form', multipart: true, data: { turbo: false }, html: { onsubmit: 'return false;' } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

  
      <%= render 'form_edit', f: f, sub_user: @sub_user %>
      
      
      <div class="user-createform">
      
        <%= f.submit "作成", class: "btn btn-primary", id: "submit-button", type: 'button' %>
      </div>
    <% end %>
  </div> 
</div>