<% content_for(:title, t('.title')) %>
<div class="p5canvas-container">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">Sub Thing新規作成</span>
  </h1>
  <span class="red-text" style="margin-bottom: 2rem;">※Sub Thingアイコンはレイヤーごとの保存はできません。<br>新規作成のため途中保存機能はありません。</span>
  <div class="flex" style="margin-top: 2rem;">
    <div id="reactNewSubUserCreate"
      data-profile-id="<%= @profile.id %>"
      data-space-size="<%= @profile.space_size %>"
      data-tool-parameters="<%= @profile.tool_data %>"
    >
  </div>
</div>
