<% content_for(:title, t('.title')) %>
<div class="index-container">
  <h1 class="midasi-title">
    <%# <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span> %>
    <span>Screen</span>
  </h1>

  <div class="flex-end-end">  
    <%= link_to new_space_path, class: 'tooltip-container' do %>
      <div class="flex create-usersselect-container">
        <div><i class="bi bi-image bi-image-title" style="font-size: 2rem;"></i></div>
        <div class="newcontents_text"><span>Screenを作成<span></div>
        <span class="tooltip-text" style="text-align: start;">Flow Thingを配置するScreenを作成できます。</span>
      </div>
    <% end %>
  </div>

  <%= render 'search_form', q: @q, url: spaces_path %>

  <div class="item-list-container">
    <% if @spaces.present? %>
      <% @spaces.each do |spaces| %>
        <div class="item-list-card">
          <%= render spaces %>
        </div>
      <% end %>
    <% else %>
      <div class="noitem-text">Screenがありません</div>
    <% end %>
  </div>

  <div class="paginate-box">
    <%= paginate @spaces %>
  </div>

</div>