<div class="max1280-container">
  <h1 class="section-title">
    <span class="red-text">スペース新規作成</span>
  </h1>

<div class="flex">
  <div id="reactNewSpaceCreate" data-profile-id="<%= @profile.id %>">
</div>
</div>

