<div class="p5canvas-container">
  <h1 class="section-title">
    <span class="red-text">スペース新規作成</span>
    
  </h1>
<span class="red-text">このツールはPCのフルスクリーンでの作業を推奨しております。</span>
<div class="flex">
  <div id="reactNewSpaceCreate" data-profile-id="<%= @profile.id %>">
</div>
</div>

