<header>
  <div class='header-design'>
    <div class='header-layout'>
    
      <%= link_to '/', class: 'app-logo' do %>
        <span class='f-text'>F</span>low 
        <span class='t-text'>T</span>hing
      <% end %>


      <div class='search-form'>
        検索フォーーーーームパーシャル
      </div>

      <div>
        <ul class='nav-contents'>
          <li  class="user-dropdown">

            
            <button class='user-dropdown-btn' data-bs-toggle="dropdown" aria-expanded="false">
            ゲスト
            </button>



            <div class='user-dropdown-body dropdown-menu'>
              <ul class='user-dropdown-list'>
                <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>プロフィール編集</a></li>
                <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>エピソード</a></li>
                <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>サブユーザーに切り替え</a></li>
                <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>掲示板</a></li>
                <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>ログアウト</a></li>
              <ul>
            </div>

          </li>

          <li>
            <div>
            <button class="header-button header-button:hover"><i class="bi 適切なブートストラップアイコン"></i></button>
            </div>
          </li>

          <li class="room-dropdown">
            <div class='room-container'>
              <button class='room-dropdown-btn' data-bs-toggle="dropdown" aria-expanded="false">
                <span>ほかのroomへ<i class="bi 適切なブートストラップアイコン"></span>
              </button>
              <div class="room-dropdown-body dropdown-menu">
                <ul class='room-dropdown-list'>
                  <li class='room-dropdown-item'><a href="#" class='room-dropdown-link'>roomの表示</a></li>
                  <li class='room-dropdown-item'><a href="#" class='room-dropdown-link'>roomを追加</a></li>
                <ul>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</header>