<footer>
<div class="footer-style">

<div class="footer-image-icon"><%= image_tag('footer_left.png', alt: 'フッターの画像', class: "footer-image") %></div>
<div class="footer-text"><span>Flow Thing</span></div>
</div>
</footer>