<footer>
  <% profile = current_user.profile if user_signed_in? %>
  <div class="footer-style" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">
    <div class="footer-image-icon"><%= image_tag('footer_left.png', alt: '左のフッターの画像', class: "footer-image") %></div>
    <div class="footer-image-wave4 top-page-logo-none"><%= image_tag('wave4_white_footer.png', alt: '波のフッターの画像', class: "footer-wave4") %></div>
    <div class="footer-image-wave footer-image-wave-none"><%= image_tag('wave2_white_footer.png', alt: '右のフッターの画像', class: "footer-wave") %></div>
    <div class="footer-text"><span>Flow Thing</span></div>
  </div>
  
</footer>
