<% content_for(:title, t('.title')) %>
<div class="max1280-container">
<h1 class="section-title">
  <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
</h1>

  <div class="item-list-container">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="item-list-card">
          <%= render item %>
        </div>
      <% end %>
    <% else %>
      <div class="">アイテムがありません</div>
    <% end %>
  </div>
</div>