<% content_for(:title, t('.title')) %>
<div class="index-container">
<h1 class="section-title">
  <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
</h1>

<%= render 'search_form', q: @q, url: items_path %>

  <div class="item-list-container">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="item-list-card">
          <%= render partial: 'items/item', locals: { item: item, sub_user: @sub_user } %>
        </div>
      <% end %>
    <% else %>
      <div>アイテムがありません</div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>