<% content_for(:title, t('.title')) %>
<div class="index-container">

      <div class="section-title" style="margin-top: 2rem;">
        <div class="app-logo">
          <div class="flex flex-animated-text">
            <div class="flex-between flex-animated-text-absolute logo-blur-05">
              <div class="animated-text">
                <span class='zen-antique logo-setting'>F</span>
                <span class='sawarabi-mincho logo-setting'>l</span>
                <span class="logo-setting">o</span>
                <span class='dotgothic16'>w</span>

                <span class='potta-one logo-setting-t logo-setting'>T</span>
                <span class='rocknroll-one logo-setting-hi'>h</span>
                <span class='yuji-mai logo-setting-hi'>i</span>
                <span class='yuji-syuku logo-setting-n'>n</span>
              </div>
              <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
            </div>

            <div class="flex-between logo-blur-15">
              <div class="animated-text">
                <span class='zen-antique logo-setting'>F</span>
                <span class='sawarabi-mincho logo-setting'>l</span>
                <span class="logo-setting">o</span>
                <span class='dotgothic16'>w</span>

                <span class='potta-one logo-setting-t logo-setting'>T</span>
                <span class='rocknroll-one logo-setting-hi'>h</span>
                <span class='yuji-mai logo-setting-hi'>i</span>
                <span class='yuji-syuku logo-setting-n'>n</span>
              </div>
              <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
            </div>
          </div>
        </div>
      </div>
<%= render 'search_form', q: @q, url: items_path %>

  <div class="item-list-container">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="item-list-card">
          <%= render partial: 'items/item', locals: { item: item, sub_user: @sub_user } %>
        </div>
      <% end %>
    <% else %>
      <div>アイテムがありません</div>
    <% end %>
  </div>
  <div style="margin: 5rem 3rem;">
  <%= paginate @items %>
  </div>
</div>