
<% content_for(:title, t('.title')) %>
<div class="p5canvas-container">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">Flow Thing新規作成</span>
    
  </h1>

  <div style="margin-bottom: 2rem;"><span class="red-text">新規作成のため途中保存機能はありません。</span></div>

  <div id="reactNewItemCreate"
    data-user-id="<%= @sub_user.id %>"
    data-space-size="<%= @profile.space_size %>"

    data-tool-parameters="<%= @profile.tool_data %>"
    data-profile-id="<%= @profile.id %>"
  ></div>

</div>

