@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');




/* ベースのスタイル
------------------------------------------ */

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 部品
------------------------------------------ */

/* flexbox (センター配置)*/
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* flexbox (space-between)*/
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* 見出し/ページタイトル */
.section-title {
  font-size: 2.3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

.title-custom {
  font-size: 3rem;
}

.red-text {
  color: #F8A3B1;
}

.light-blue-text {
  color: #91D7E9;
}

.f-text {
  color: #9ADFCB;
}

.t-text {
  color: #FBC8C3;
}

.sakura-text {
  color: #F6D0EB;
}

.melon-text {
  color: #B8F3B9;
}

.gray-text {
  color: #acacac;
}


.cream-text {
  color: #E2F2C5;
}

.orange-text {
  color: #F6E4C5;
}

.purple-text {
  color: #AEA5EC;
}


.bi-pencil-square {
  color: #F8A3B1;
  margin: 0px auto;
}

.bi-people-fill {
  color: #91D7E9;
  margin: 0px auto;
}

/* センター配置 */
.center-text {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.top-margin {
  margin-top: 1rem;
}

.max767-container {
  position: relative;
  width: 100%;
  max-width: 767px;
  margin: 0px auto;
  padding: 2rem;
  text-align: center;
}

.max1280-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 3rem;
  text-align: center;
}

.footer-style {
  background-color: #7f7f7f;
  width: auto;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 0;
}

.midasi-title {
  font-size: 3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

.noitem-text {
  font-size: 2rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

.alert-success {
  width: 43rem;
  height: auto;
  top: 2rem;
  margin: 0 auto;
}

.alert-danger {
  width: 43rem;
  height: auto;
  top: 2rem;
  margin: 0 auto;
}

.icon-small {
  font-size: 10px;
}

/* サブユーザーの詳細
------------------------------------------ */

/* ボタンにマウスがホバーした際のアイコンのアニメーション */
.balloon-botann:hover .balloon-action {
  animation: balloon-float 1.5s ease-in-out forwards;
}

/* アイコンの「ふんわり飛んで消える」アニメーション */
@keyframes balloon-float {
  0% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) translateY(-50px);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) translateY(-120px);
    opacity: 0;
  }
}


.balloon-action {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  color: #9ADFCB;
  font-size: 80px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pen-fill-icon {
  display: inline-block;
  color: #FBC8C3;
  font-size: 70px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease-in-out;
}

.balloon-botann:hover .pen-fill-icon {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}

.send-icon {
  display: inline-block;
  color: #91D7E9;
  font-size: 70px;
  // transition: transform 1s ease-in-out;
}

.balloon-botann:hover .send-icon {
  animation: send 1s ease-in-out;
}

@keyframes send {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(150px, -150px);
    opacity: 0;
  }
}


.balloon-botann-text {
  position: absolute;
  z-index: 2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  text-shadow:
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; 
}

.balloon-botann {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  width: 120px;
  height: 120px;
  position: relative;
  margin: 1rem;
}

.trash-botann {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  width: 120px;
  height: 120px;
  position: relative;
  margin: 2rem;
  text-align: right;
  margin-left: auto;
  transition: opacity 0.3s ease; /* トランジションを追加 */
}

.trash-botann:hover {
  opacity: 0.5;
  filter: blur(0.8px);
}

.trash-icon {
  display: inline-block;
  color: #7FA8EB;
  font-size: 70px;
}

.trash-icon-text {
  position: absolute;
  z-index: 2;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  text-align: center;
}

.sub-user-show-item {
  border: 1px solid #C3E5DB;
  margin-top: 1rem;
}

.no-name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px dashed #7f7f7f;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}

.user-show-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  // box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: #C3E5DB;
  // width: 150px;
  // height: 150px;
  // position: relative;
  margin-top: 3rem;
  width: 100%;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
}

.sub-name-text {
  font-size: 1.2rem;
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.list-title {
  font-size: 2.1rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

.user-show-name-contents {
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  width: 310px;
  padding: 1rem;
}

.user-show-contents {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  padding: 1rem;
  width: auto;
}

.user-show-comment-contents {
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  text-align: left;
  // margin: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

.user-show-botann {
  margin-top: 1rem;
}

.user-icon-frame {
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
}

.item-icon-frame {
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-show-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #FBC8C3;
  margin-top: 3rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  width: 100%;
}

.sub-user-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-icon-frame-small {
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* ボタンにマウスがホバーした際のアイコンのアニメーション */
.item-link-btn:hover .user-icon-frame-small {
  animation: ball 0.6s alternate infinite;
  -webkit-animation: ball 0.6s alternate infinite;
  -moz-animation: ball 0.6s alternate infinite;
}

@keyframes ball{
  0%   { transform:translate(0%, 0%) rotateX(25deg); }
  100% { transform:translate(0%, -60px); }
}
@-webkit-keyframes ball{
  0%   { -webkit-transform:translate(0%, 0%) rotateX(25deg); }
  100% { -webkit-transform:translate(0%, -60px); }
}

@-moz-keyframes ball{
  0%   { -moz-transform:translate(0%, 0%) rotateX(25deg); }
  100% { -moz-transform:translate(0%, -60px); }
}

.item-icon-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}



.icon-count-container {
  justify-content: flex-end;
    align-items: flex-end;
    // position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    // height: 25px;
}

.sub-item-list {
  border-radius: 0.5rem;
  padding: 1rem;
  // margin: 0.5rem;
  background: #fff;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.item-link-btn {
  border-radius: 0.5rem;
  padding: 1rem;
  // margin: 0.5rem;
  background: #fff;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

// .item-link-btn:hover {
//   background-color: #e5e5e5;
//   transition: all 0.3s;
// }


.item-list-show {
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

// .item-list-show .sub-user-itemicon {
//   flex: 0 0 calc(20% - 5px);
//   margin-bottom: 5px;
// }

// @media (max-width: 1199px) {
//   .item-list-show .sub-user-itemicon {
//     flex: 0 0 calc(33.333% - 5px);
//   }
// }

// @media (max-width: 929px) {
//   .item-list-show .sub-user-itemicon {
//     flex: 0 0 calc(50% - 5px);
//   }
// }

// .item-list-show .sub-user-itemicon {
//   /* ここに固定幅や他の必要なスタイルを設定 */
//   width: 200px; /* 例：幅を200pxに固定 */
  
// }


.sub-user-itemicon {
  padding: 6px;
  // margin: 3px;
  width: 110px;
  height: 110px;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.item-image-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
  background-color: white;
}

.item-list-show .sub-user-itemicon:hover {
  background-color: #e5e5e5;
  transition: all 0.3s;
}

.back-white-rect {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  background-color: white;
}


.toggle-view {
  color: #91D7E9;
  text-align: right;
}

.toggle-view:hover {
  color: #F8A3B1;
}

.comment-text {
  color: #9ADFCB;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}



/* サンプル
------------------------------------------ */

.attention-text {
  font-size: 1.3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sample-image {
  width: 250px;
  height: 250px;
}

.sample-image-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


/* ボタン
------------------------------------------ */

/* ボタン */
.default-button {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 0.375rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border: 1px solid transparent;
}

/* 緑ボタン */
.green-button {
  background-color: #9ADFCB;
  border-color: #9ADFCB;
}

.green-button:hover {
  background-color: #84BDAD;
  transition: all 0.3s;
}

.green-button:focus {
  outline: 0.2rem solid #C3E5DB;
}

/* 赤ボタン */
.red-button {
  background-color: #ECC4BA;
  border-color: #ECC4BA;
}

.red-button:hover {
  background-color: #D7A498;
  transition: all 0.3s;
}

.red-button:focus {
  outline: 0.2rem solid #EED3CC;
}

.top-space {
  margin-top: 2rem;
}

.bottomu-ma-zinn {
  margin-bottom: 1rem;
}

/* ヘッダー
------------------------------------------ */

/* ヘッダー背景 */
.header-design {
  background-color: #fff;
  box-sizing: border-box;
  width: auto;
  height: 5rem;
  border-bottom: solid 0.375rem #7f7f7f;
  padding-left: 1rem;
    padding-right: 1rem ;
}

.header-layout {
  display: flex;
  justify-content: space-between;
}

.app-logo {
  font-size: 3.125rem;
  letter-spacing: 0.15rem;
  color: #7f7f7f;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: block;
  white-space: nowrap;
  font-weight: 700;
}

.nav-contents {
  display: flex;
  text-align: center;
}

.header-button {
  background-color: transparent;
  box-sizing: border-box;
  border: none; /* デフォルトのボーダーを削除 */
  outline: none; /* フォーカス時のアウトラインを削除 */
  width: 5rem;
  height: 5rem;
  border-bottom: solid 0.375rem #7f7f7f;
}

.header-button:hover {
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-bottom: solid 0.375rem #fff;
}


/* ヘッダー・userドロップダウンボタン */
.user-headericon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.user-dropdown {
  margin: 0 0 0 auto;
  position: relative;
}

.user-dropdown-btn {
  background-color: transparent;
  box-sizing: border-box;
  border: none; /* デフォルトのボーダーを削除 */
  outline: none; /* フォーカス時のアウトラインを削除 */
  width: 5rem;
  height: 5rem;
  border-bottom: solid 0.375rem #7f7f7f;
}

.user-dropdown-btn:hover {
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-bottom: solid 0.375rem #fff;
}

.user-dropdown-btn.is-open::after {
  content: "";
  width: 40px;
  height: 40px;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.user-dropdown-btn.is-open + .user-dropdown-body {
  display: block;
  z-index: 5;
}
.user-dropdown-body {
  display: none;
  width: 250px;
  border: 1px solid #C3E5DB;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 0;
}
.user-dropdown-list {
  margin: 0;
  padding: 0;
}
.user-dropdown-item {
  display: block;
}

.user-dropdown-item:hover {
  background: #e1e1e1;
}

.user-dropdown-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #507a75;
}

/* ヘッダー・roomドロップダウンボタン */
.room-dropdown {
  margin: 0 0 0 auto;
  position: relative;
}

.room-dropdown-btn {
  background-color: transparent;
  box-sizing: border-box;
  border: none; /* デフォルトのボーダーを削除 */
  outline: none; /* フォーカス時のアウトラインを削除 */
  width: 10rem;
  height: 5rem;
  border-bottom: solid 0.375rem #7f7f7f;
}

.room-dropdown-btn:hover {
  background-color: #e1e1e1;
  box-sizing: border-box;
  border-bottom: solid 0.375rem #fff;
}

.room-dropdown-btn.is-open::after {
  content: "";
  width: 40px;
  height: 40px;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
}

.room-dropdown-body {
  display: none;
  width: 250px;
  border: 1px solid #C3E5DB;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 0;
}

.room-dropdown-list {
  padding: 0;
}


.room-dropdown-item {
  display: block;
}

.room-dropdown-item:hover {
  background: #e1e1e1;
}

.room-dropdown-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #507a75;
}


// @media (max-width: 959px) {
//   .search-form {
//     position: absolute; /* 絶対位置指定 */
//     top: 150px; /* 上端から250pxの位置に設定 */
//     right: 0; /* 右端に合わせる */
//     /* 必要に応じてその他のスタイルを追加 */
//   }
// }

// @media (max-width: 959px) {
//   .room-container {
//     position: absolute; /* 絶対位置指定 */
//     top: 250px; /* 上端から250pxの位置に設定 */
//     right: 0; /* 右端に合わせる */
//     /* 必要に応じてその他のスタイルを追加 */
//   }
// }


/* サインアップ
------------------------------------------ */

/* サインアップ画面 */
.signup-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0px auto;
}

.signup-title {
  text-align: center;
  color: #7f7f7f;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: block;
  font-style: normal;
}

.profile-title {
  text-align: center;
  color: #7f7f7f;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: block;
  font-style: normal;
  margin-top: 5rem;
}

.usercolor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-colortext {
  position: absolute;
  left: 0;
}

.user-pickerbox {
  margin-top: 1.7rem;
  margin-bottom: 0.2rem;
}

.user-picker {
  width: 100px;
  height: 50px;
}

.pickup-color {
  margin-top: 0.5rem;
}

.usercolor-container-background {
  width: 220px;
  height: 200px;
}

.active-style {
  padding: 16px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  border-radius: 10px;
}

.disabled-input {
  opacity: 0.5; /* 半透明にする */
}

.usericonColor {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0.1rem;
}

.usericonColor:hover {
  box-shadow: 0 0 8px 3px #a8bddd;
}


#imagePreview {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}


#colorPreview {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block; 
  margin: 0px auto;
}


/* プロフィール画面
------------------------------------------ */

/* ユーザープロフィールアイコン */
.user-profileicon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}

.profile-icon-frame {
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
}

.withdrawal-image-container {
  background-image: url('/assets/退会写真.jpg');
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px #515151;
}

.withdrawal-image-container:hover {
  opacity: 1;
  box-shadow: 0 0 5px 5px rgb(70, 55, 55);
  transition: all 0.5s;
}



.withdrawal-red-text {
  color: #fc0000;
}

/* 新規コンテンツ作成画面
------------------------------------------ */
.usersselect-container {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newcontents_text {
  display: inline-block;
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  line-height: 2.5rem
}

.newcontents_text-sub {
  display: inline-block;
  font-size: 1.7rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  line-height: 1.8rem
}

/* 描画パレット
------------------------------------------ */

/* ドロップゾーンのスタイル */
#dropzone-1, #dropzone-2, #dropzone-21 {
  position: relative; /* 絶対位置指定された子要素を正しく配置するために必要 */
  width: 100%;        /* 適切なサイズに設定 */
  height: 600px;      /* 適切なサイズに設定 */
  border: 2px dashed #aaa;
  margin-top: 20px;
}

/* ドラッグ可能な要素のスタイル */
#colorPalette-1, #colorPalette-2, #colorPalette-21 {
  position: absolute; /* ドラッグ時の位置調整のために必要 */
  z-index: 15;      /* 他の要素の上に表示 */
  /* その他のスタイル（サイズ、背景色など） */
  width: 250px;
  height: 410px;
  background-color: #777777;
  border: 5px solid #4A4A4A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // cursor: grab;
  // top: 0px;
  left: 70%;
  bottom: 0%;
}

#tool-custom-1, #tool-custom-2, #tool-custom-21 {
  position: absolute; /* ドラッグ時の位置調整のために必要 */
  z-index: 14;      /* 他の要素の上に表示 */
  /* その他のスタイル（サイズ、背景色など） */
  width: auto;
  height: 170px;
  background-color: #777777;
  border: 5px solid #4A4A4A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // cursor: grab;
  top: 0px;
  left: 10%;
}

#shapes-tool-1, #shapes-tool-2, #shapes-tool-21 {
  position: absolute; /* ドラッグ時の位置調整のために必要 */
  z-index: 13;      /* 他の要素の上に表示 */
  /* その他のスタイル（サイズ、背景色など） */
  width: 350px;
  height: 100px;
  background-color: #777777;
  border: 5px solid #4A4A4A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  // cursor: grab;
  top: 0px;
  right: 0%;
}


.shapes-tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
}

.form-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ドラッグ中の要素のスタイル */
#colorPalette-1:active {
  cursor: grabbing;
}

/* ドラッグ中の要素のスタイル */
#colorPalette-2:active {
  cursor: grabbing;
}

/* ドラッグ中の要素のスタイル */
#colorPalette-21:active {
  cursor: grabbing;
}

/* パレット要素 */
.pickertool {
  margin-top: 8px;
}

.tool-title {
  color: #ffffff;
  background-color: #4A4A4A;
  width: 250px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.palletBox {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.freepalletBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image:
    linear-gradient(45deg, #BBBBBB 25%, transparent 25%, transparent 75%, #BBBBBB 75%, #BBBBBB),
    linear-gradient(45deg, #BBBBBB 25%, transparent 25%, transparent 75%, #BBBBBB 75%, #BBBBBB);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  background-color: #DDDDDD;
}

.icon-palletbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
}

.pallettool {
  margin-top: 5px;
}

.pallettool > * {
  margin: 0 1px;
}

.pallettool-special {
  margin-top: 5px;
}

.pallettool-special > * {
  margin: 0 1px;
}

.pallettool-free {
  margin-top: 5px;
}

#editMod-1, #editMod-2, #editMod-21 {
  background-color: white;
  color: black;
}

div.selected {
  background-color: #9199AE;
}

.pain-button {
  cursor: pointer;
  width: 30px;
  height: 30px; 
  background-color: #c2c1c1;
  border-radius: 2px;
  box-shadow: 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.pain-button-right {
  cursor: pointer;
  width: 30px;
  height: 30px; 
  background-color: #c2c1c1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center; 
  box-shadow: -1px 1px black;
}

.select-tool {
  width: 30px;
  height: 30px; 
  background-color: #c2c1c1;
  border-radius: 2px;
  box-shadow: 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.canvas-container-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.undo-redo {
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 5px;
}

#undo-1, #undo-2, #undo-21 {
  border: none;
  outline: none;
}

#redo-1, #redo-2, #redo-21 {
  border: none;
  outline: none;
}

.undo-redo > * {
  margin: 0 2px;
}

.specialColorBox {
  width: 25px;
  height: 25px;
}

.colorpreview {
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}

.bi-reply-fill-right {
  transform: scaleX(-1) !important;
}

.myCanvas {
  border-width: 2px;
  border-style: solid;
  border-color: green;
  display: block; /* ブロックレベル要素として表示 */
  margin: auto; /* 水平方向の自動マージンで中央揃え */
}

.myCanvas-radius {
  border-radius: 50%;
}

.hidden-canvas {
  display: none;
}

.sizeBtn {
  width: 40px;
  height: 40px;
  display: flex; /* Flexboxを使う */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: center; /* 子要素を垂直方向に中央揃え */
  align-items: center; /* 子要素を水平方向に中央揃え */
  text-align: center; /* テキストを中央揃え */
  margin: 1px;
  background-color: #c2c1c1;
  cursor: pointer;
  box-shadow: 1px 1px black;
  border-radius: 2px;
  font-size: 10px; /* デフォルトのフォントサイズ */
}

.sizeBtn i {
  font-size: 7px; /* アイコンのサイズ */
  /* アイコンのスタイルに関する追加の設定があればここに記述 */
}

.sizeBtn div {
  display: flex; /* 各子要素もFlexboxに */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
}

.selected-size-btn {
  background-color: #9199AE;
  color: white;
}

.tool-custom {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
}

.toolsize-title {
  color: #ffffff;
  background-color: #4A4A4A;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tool-group {
  margin-top: 5px;
}

.tool-group-special {
  text-align: left;
  margin-right: auto;
  display: flex;
  justify-content: center;
}


.brushsize-form {
  align-self: flex-end;
  font-weight: 400;
  font-style: normal;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#brushSizeForm-1, #brushSizeForm-2, #brushSizeForm-21 {
  width: 48px;
}

#fontSizeForm-1, #fontSizeForm-2, #fontSizeForm-21 {
  width: 48px;
}

.fontsize-form {
  text-align: right;
  margin-left: auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}




// /* カスタムラジオボタンのスタイル */
// .custom-radio + label {
//   background-color: #eee;
//   padding: 10px;
//   border: 1px solid #ddd;
//   display: inline-block;
//   cursor: pointer;
// }

// /* 選択されたときのスタイル */
// .custom-radio:checked + label {
//   background-color: #bada55;
//   color: white;
// }



/* 新規登録フォーム/sub_user
------------------------------------------ */

.sub-canvas-container {
  width: 220px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.2rem;
  position: relative;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.5rem 
}

.brush-icon {
  display: inline-block;
    color: #91D7E9;
    font-size: 70px;
    // position: absolute;
    // z-index: 1;
    top: 50%;
    left: 50%;
}

.sub-image-container {
  width: 220px;
  padding: 16px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  border-radius: 0.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f7f7f;
}

.user-createform {
  max-width: 767px;
  margin: 0px auto;
  text-align: center;
  margin-top: 2rem;
}

.user-createform-text {
  margin-top: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f7f7f;
}

.item-form-container {
  margin-top: 3rem;
}

.custom-radio {
  display: none;
}

.subuser-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.radio-subusercolor {
  position: absolute;
  left: 0;
}

.subuser-pickerbox {
  margin-top: 1.7rem;
  margin-bottom: 0.2rem;
}

.subuser-picker {
  width: 100px;
  height: 50px;
}

.subpickup-color {
  margin-top: 0.5rem;
}

.subuser-container {
  width: 220px;
  height: 200px;
  padding: 16px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  border-radius: 0.5rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f7f7f;
}

.subactive-style {
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  border-radius: 10px;
}

.subuser-disabled {
  opacity: 0.5; /* 半透明にする */
}

.subuser-iconColor {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0.1rem;
}

.subuser-iconColor:hover {
  box-shadow: 0 0 8px 3px #a8bddd;
}


#subimagePreview {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}


#subcolorPreview{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block; 
  margin: 0px auto;
}


#itemimagePreview {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}

#episodeimagePreview {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}


/* ユーザー・アイテムカード
------------------------------------------ */

.item-objectbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: auto;
  position: relative;
}

.user-objectbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: auto;
  position: relative;
  margin-top: 8px;
}

.item-flex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 4px;
  right: 10px;
}

// .icon-scale {
//   transform: scale(0.3);
//   transform-origin: bottom right;
// }


/* アイコン */
.no-image-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px dashed #7f7f7f;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  background-color: white;
}

.user-itemlist-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}

.canvas-style {
  cursor: pointer;
}

.user-card-container {
  display: block;
  height: 260px;
  width: 220px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f7f7f;
  padding: 8px;
}

.item-card-container {
  display: block;
  height: 260px;
  width: 220px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #7f7f7f;
  padding-top: 8px;
}

.item-summary-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.subuser-summary-style {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

details[open] .item-summary-style {
  /* detailsが開かれたときにテキストを折り返す */
  white-space: normal;
  text-overflow: clip;
}

details[open] .subuser-summary-style {
  /* detailsが開かれたときにテキストを折り返す */
  white-space: normal;
  text-overflow: clip;
}

.details-box {
  height: 25px;
}

summary::-webkit-details-marker {
  display:none;
}

summary {
  display: block;
  list-style: none;
}


.user-summary-style {
  background-color: #9ADFCB;
}

.myCanvas-icon {
  border-radius: 50%;
  // border: 1px solid black;
  display: block;
}

.item-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  grid-gap: 3rem;
  margin-top: 2rem;
}

// .item-list-container .item-list-card {
//   flex: 0 0 25%;
// }

// @media (max-width: 1199px) {
//   .item-list-container .item-list-card {
//     flex: 0 0 33.333%;
//   }
// }

// @media (max-width: 929px) {
//   .item-list-container .item-list-card {
//     flex: 0 0 50%;
//   }
// }




/* ドロップダウン・検索
------------------------------------------ */
.no-image-icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px dashed #7f7f7f;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
}

.user-itemlist-icon-search {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}


/* 掲示板
------------------------------------------ */
.board-card-container {
  display: block;
  height: 250px;
  width: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 1px #c6c6c6;
  padding: 1rem;
  border: 2px dashed #7f7f7f;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.board-title {
  font-size: 1.5rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

.board-show-container {
  border: 2px dashed #7f7f7f;
  margin: 3rem 5rem 5rem 3rem;
  padding: 2rem;
}

.user-show-imageicon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  object-fit: cover;
}

.comment-card-container {
  border: 2px dashed #7f7f7f;
  margin: 1rem;
  padding: 2rem;
}

.comment-form-box {
  width: 400px;
}

.comment-form {
  margin-bottom: 2rem;
}

/* comments.css または適切なスタイルシートファイルに追加 */
.sticky-form {
  position: sticky;
  bottom: 0; /* 画面の下部に固定 */
  background: #fff; /* 背景色 */
  padding: 10px; /* パディング */
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2); /* 影をつける（オプション） */
}


.no-item-frame {
  padding: 6px;
  margin: 3px;
  border-radius: 0.5rem;
  border: 2px dashed #7f7f7f;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.no-item-icon {
  // position: absolute;
  // z-index: 2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  text-shadow:
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; 
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#accordion-toggle:checked + .accordion-label + .accordion-content {
  max-height: 1000px; /* コンテンツの最大高さを調整 */
}


.board-form {
  width: auto;
  // height: 200px;
  // border: 1px solid #ccc;
  padding-bottom: 2rem;
}


.board-form-iconframe {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border-radius: 0.5rem;
}


/* 試作部品
------------------------------------------ */

.try {
  font-family: 'Dela Gothic One', sans-serif;
  color: blue;
}

#user-icon {
  width: 50px; /* アイコンのサイズを設定 */
  height: 50px; /* アイコンのサイズを設定 */
  border-radius: 50%; /* 丸く表示 */
  object-fit: cover; /* 画像の比率を保ちつつ、要素に合わせて表示 */
}


#myDropdown {
  width: 200px; /* 幅の指定 */
  padding: 10px; /* パディング */
  border: 1px solid #ccc; /* ボーダー */
  border-radius: 4px; /* ボーダーの角を丸くする */
}


.colorOption {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid black;
}

.nav-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}






.blur{
  -ms-filter: blur(6px);
  filter: blur(6px);
}

.back-white {
  background-color: white;
  border-radius: 50%;
}



/* ヘルパー隠し評価(隠し背景)
------------------------------------------ */

.default-background {
  background-color: white;
}

.yellow-background {
  background-color: #F6E4C5;
}

.yellowgreen-background {
  background-color: #E2F2C5;
}

.t-red-background {
  background-color: #FBC8C3;
}

.sakura-background {
  background-color: #F6D0EB;
}

.green-background {
  background-color: #C3E5DB;
}

.light-blue-background {
  background-color: #91D7E9;
}

.melon-background {
  background-color: #B8F3B9;
}

.blue-background {
  background-color: #7FA8EB;
}

.purple-background {
  background-color: #AEA5EC;
}

.red-background {
  background-color: #F8A3B1;
}

/* ヘルパー隠し評価(隠しぼかし) */

.blur-0-card {
  /* ぼかし効果なし */
  filter: blur(0);
}

.blur-1-card {
  /* ぼかし効果なし */
  filter: blur(0.2px);
}

.blur-2-card {
  /* 軽いぼかし効果 */
  filter: blur(0.5px);
}

.blur-3-card {
  /* 最大のぼかし効果 */
  filter: blur(1px);
}

.blur-4-card {
  /* ぼかし効果なし */
  filter: blur(1.5px);
}

.blur-5-card {
  /* ぼかし効果なし */
  filter: blur(3px);
}

.blur-6-card {
  /* 軽いぼかし効果 */
  filter: blur(5px);
}

.blur-7-card {
  /* 最大のぼかし効果 */
  filter: blur(7px);
}

.item-card-container-gray {
  display: block;
  height: 260px;
  width: 220px;
  border-radius: 5px;
  box-shadow: inset -5px -5px 8px 1px rgba(78, 77, 77, 0.7), inset 0 0 40px 10px rgb(175 175 175 / 80%);
  background: radial-gradient(circle at center, #626262 40%, transparent 200%);
  filter: blur(8px);
  padding: 8px;
}

.item-card-container-black {
  display: block;
  height: 260px;
  width: 220px;
  border-radius: 5px;
  box-shadow: inset -5px -5px 8px 1px rgba(78, 77, 77, 0.7), inset 0 0 40px 10px rgb(243 178 178 / 80%);
  background: radial-gradient(circle at center, #000000 40%, transparent 200%);
  filter: blur(9px);
  padding: 8px;
}

.item-card-container-redblack {
  display: block;
  height: 260px;
  width: 220px;
  border-radius: 5px;
  box-shadow: inset -5px -5px 8px 1px rgba(78, 77, 77, 0.7), inset 0 0 40px 10px rgb(98 17 17 / 80%);
  background: radial-gradient(circle at center, #000000 40%, transparent 200%);
  filter: blur(10px);
  padding: 8px;
}


/* ヘルパー隠し評価(隠しアイコン) */

.bi-piggy-bank {
  color: #8F3CF9;
  margin: 0px auto;
}

.bi-controller {
  color: #3FE5B4;
  margin: 0px auto;
}

.bi-balloon-heart {
  color: #F43DBF;
  margin: 0px auto;
}

.bi-airplane-engines {
  color: #1C86F0;
  margin: 0px auto;
}

.bi-rocket-takeoff {
  color: #1EF022;
  margin: 0px auto;
}

.bi-globe-asia-australia {
  color: #0DCAE3;
  margin: 0px auto;
}

.bi-moon-stars {
  color: #948d7f;
  margin: 0px auto;
}

.bi-sun-fill {
  color: #FF7B00;
  margin: 0px auto;
}

.bi-award {
  color: #cbcbcb;
  margin: 0px auto;
}

.bi-trophy {
  color: #FFFA2D;
  margin: 0px auto;
}



.info-botann-text {
  position: absolute;
  z-index: 2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  text-shadow:
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; 
  font-size: 3rem;
}


.info-botann {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.3125rem 0 #999999;
  background-color: white;
  width: 700px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.info-botann::before,
.info-botann::after,
.info-botann .wave {
  position: absolute;
  width: 200%;
  height: 200%;
  content: "";
  background-color: #3168dd;
  animation: wavePause linear 10s infinite;
}

.info-botann::before {
  top:253%;
  border-radius:20% 40% / 30% 50%;
}

.info-botann::after {
  top:254%;
  border-radius:40% 50% / 40% 60%;
}

.info-botann .wave {
  position: absolute;
  width: 700px; /* 個々の四角形の幅 */
  height: 700px; /* 個々の四角形の高さ */
  background-color: #3168dd;
  animation: wavePause linear 10s infinite;
  top: 50%;
  right: 50%;
}

.info-botann .wave1 { 
  left: -30%;
  animation-delay: 0.5s;
  border-radius: 70% 40% / 70% 50%;
  transform: rotate(80deg);
  background-color: #9ADFCB;
}
.info-botann .wave2 { 
  left: -20%;
  opacity:0.2;
  animation-delay:0.5s;
  transform: rotate(100deg);
  border-radius:50% 70% / 50% 70%;
  background-color: #91D7E9;
}

.info-botann .wave3 { 
  left: 30%;
  animation-delay: 0.5s;
  // opacity:0.2;
  animation-delay:0.3s;
  transform: rotate(100deg);
  border-radius:50% 70% / 50% 70%;
  background-color: #FBC8C3;
}

.info-botann .wave4 { 
  left: 25%;
  animation-delay:0.5s;
  opacity:0.2;
  transform: rotate(60deg);
  border-radius:70% 40% / 70% 50%;
  background-color: #F8A3B1;
}

.info-botann .wave,
.info-botann::before,
.info-botann::after {
  animation: wavePause linear 10s infinite;
}


.info-botann:hover .wave,
.info-botann:hover::before,
.info-botann:hover::after {
  animation-name: wave;
}

@keyframes wave {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




.text-left {
  text-align: left;
}

.max1280-container-info {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 3rem;
  // text-align: center;
}

.info-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  color: #7f7f7f;
}

.info-container {
  margin: 3rem;
  padding: 2rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border-radius: 1rem;
}

.info-section-text {
  font-size: 2.3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.info-section2-text {
  font-size: 1.8rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.info-section-subtext {
  font-size: 1.3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
  color: #7f7f7f;
}


/* エピソード
------------------------------------------ */

.episode-user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  justify-content: center;
  gap: 0.3rem;
  margin-top: 1rem;
  width: 100%;
}

.episode-subicon-frame {
  padding: 6px;
  margin: 3px;
  // box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border-radius: 0.5rem;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.episode-subicon-frame:hover {
  background-color: #cbcbcb;
}

.episode-canvas-back {
  background-color: white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.episode-image-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  // object-fit: cover;
  // background-color: white;
}

.tropical-storm-icon {
  display: inline-block;
  color: #7FA8EB;
  font-size: 55px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.tropical-botann:hover .tropical-storm-icon {
  animation: rotate 1s linear infinite;
}


.balloon-botann-text {
  position: absolute;
  z-index: 2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  white-space: nowrap;
  text-shadow:
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff; 
}

.tropical-botann {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin: 3px;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  background-color: white;
  width: 70px;
  height: 70px;
  position: relative;
}

.episode-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #303030;
  margin-top: 5rem;
}


.episode-text-container {
  overflow: hidden; /* コンテナの外に出たテキストを隠す */
  text-overflow: ellipsis; /* テキストがオーバーフローしたときに省略記号を表示 */
  // white-space: nowrap; /* テキストを一行に保つ */
  max-width: 40rem; /* 最大幅を設定（必要に応じて調整） */
  max-height: 8rem;
  padding: 1rem;
}


@keyframes rotateAndMove {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  100% {
    transform: rotate(360deg) translateX(100px); /* ここを変更して異なる動きを作成 */
  }
}

.object {
  animation: rotateAndMove 3s infinite;
}

.frame {
  background-color: white; /* フレームの背景色 */
  width: auto; /* フレームの幅 */
  height: 17rem; /* フレームの高さ */
  border: 1rem solid black; /* フレームの枠線 */
  border-radius: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  // max-width: 40rem;
  // max-height: 8rem;
  padding: 1rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  color: #7f7f7f;
  text-align: left;
}

.frame:hover {
  background-color: #c0c0c0;
  transition: all 0.3s;
}

.scroll-container {
  width: 30rem; /* コンテナの幅 */
  height: 160rem; /* コンテナの高さ */
  overflow-y: auto; /* 垂直方向にスクロールバーを表示 */
  border: 1px solid black; /* 枠線を表示（見た目のため） */
  // transform: rotate(20deg);
}

.scrollable-container {
  width: 45rem; /* コンテナの最大幅 */
  height: 13rem; /* コンテナの最大高さ */
  overflow: auto; /* コンテンツがはみ出たらスクロールバーを表示 */
}

.episode-title-contents {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  padding: 1rem;
  width: auto;
  color: #7f7f7f;
}

.scroll-container-back {
  background-color: black;
  width: auto;
  height: 160rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.frame-no-episode {
  background-color: white; /* フレームの背景色 */
  width: auto; /* フレームの幅 */
  height: 17rem; /* フレームの高さ */
  border: 1rem solid black; /* フレームの枠線 */
  border-radius: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  // max-width: 40rem;
  // max-height: 8rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  font-size: 1.5rem;
}

.holes {
  width: 8rem; /* 穴の部分の幅 */
  height: 6rem; /* 穴の部分の高さ */
  background-color: white; /* 穴の部分の背景色 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0; /* 上下の余白 */
  display: grid;
  gap: 5px; /* 穴同士の間隔 */
  background-repeat: space repeat;
  border: 1rem solid black;
  border-radius: 1.5rem;
}


.holes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ボタンにマウスがホバーした際のアイコンのアニメーション */
.icon-scale:hover .user-action-icon {
  animation: icon-shake 1.5s alternate infinite;
}

.icon-scale:hover .flying-star {
  display: block;
  animation: fly-around 2s ease-in-out forwards infinite;
  color: #ffff00;
}

/* 左右に揺れるアニメーション */
@keyframes icon-shake {
  0% { transform: rotate(-30deg); }
  100% { transform: rotate(30deg); }
}

/* 星が左右に飛ぶアニメーション */
@keyframes fly-around {
  0% {
    transform: translateX(0px) translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px) translateY(-20px) scale(1.2);
    opacity: 0;
  }
}


.flying-star {
  display: none; /* ホバーしていない時は非表示 */
  position: absolute; /* アイコンの位置を調整 */
  /* 位置の詳細設定 */
}

/* フォーム
------------------------------------------ */

.search-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  margin: 0 auto;
}

.search-field, .search-options {
  flex: 1;
}

.search-actions {
  margin-top: 10px; /* 必要に応じて調整 */
}

.search-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  // text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
  margin-top: 5rem;
}

.search-form {
  width: 30rem;
}


.search-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  text-align: center;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border: 1px solid transparent;
  background-color: #9ADFCB;
  border-color: #9ADFCB;
  font-weight: 400;
  padding: 7px 14px 7px 14px;
}


.search-btn:hover {
  background-color: #84BDAD;
  transition: all 0.3s;
}

// .green-button:focus {
//   outline: 0.2rem solid #C3E5DB;
// }

/* ページネーションコンテナ */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: auto;
  margin: 5rem 3rem;
  border: 1px solid;
  border-radius: 0.5rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  background-color: #F6E4C5;
  border-color: #F6E4C5;
}

/* すべてのページネーション要素 */
.pagination span {
  padding: 5px;
  margin: 5px;
}

.pagination a {
  color: #ffffff;
  text-decoration: none;
}

.pagination a:hover {
  color: #7FA8EB;
}

.pagination .active a {
  color: #fff;
  background-color: #7FA8EB;
  border-color: #7FA8EB;
}

.pagination .current {
  color: #7f7f7f;
}

.pencil-fill-space {
  margin: 0 4px 0 4px;
}

.pencil-fill-font {
  color: #7f7f7f;
}

.pencil-fill-font:hover {
  color: #204d96;
}

.trash-fill-font {
  color: #7f7f7f;
}

.trash-fill-font:hover {
  color: #204d96;
}





.board-btn {
  text-align: center;
  color: #fff;
  padding: 0.375rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem 0 #D6D7D6;
  border: 1px solid transparent;
  width: 150px;
  background-color: #9ADFCB;
  border-color: #9ADFCB;
  margin: 1rem;
}

.board-btn:hover {
  background-color: #84BDAD;
  transition: all 0.3s;
}


.btn-create{
  margin-top: 4rem;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.board-section-title {
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 2.3rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #7f7f7f;
  white-space: nowrap;
}

// .search-board-box {
//   margin: 3rem;
//   color: #7f7f7f;
//   white-space: nowrap;
//   font-family: 'M PLUS Rounded 1c', sans-serif;
//   top: 5rem
// }

.search-field-board {
  margin-top: 1.5rem;
  width: 40rem;
  color: #7f7f7f;
  white-space: nowrap;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.board-item-index {
  display: block;
}



.gsi-material-button {
  // -moz-user-select: none;
  // -webkit-user-select: none;
  // -ms-user-select: none;
  // -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}


.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}


.google-auth-btn {
  background-color: #4285F4; /* Googleブルー */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
}

/* フォームのスタイル調整（必要に応じて） */
.google-auth-form {
  margin-bottom: 10px; /* ボタン間の余白調整 */
}




/* デバイステスト用
------------------------------------------ */

.draggable-container {
  width: 800px;
  height: 600px;
  border: 2px solid #000;
  position: relative;
}

.draggable-box {
  background-color: gray;
  display: flex !important;
  justify-content: center;
  align-items: center;
}



.small-box {
  width: 50px;
  height: 50px;
}

.blue-box {
  background-color: blue;
}

.red-box {
  background-color: green;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* 上下のマージンを追加 */
}


.draggable-test2 {
  margin-top: 100px;
}